@page "/api"

<PageTitle>Home</PageTitle>

<div class="container-fluid">
    <div class="row text-wrap">
        <div class="col endpoints">
            <h4>
                ENDPOINTS
            </h4>
            <div class="Stocks endpoints-block">
                <div class="endpoints-show collapsed"
                     type="button"
                     data-bs-toggle="collapse"
                     data-bs-target="#collapse-stocks"
                     aria-expanded="false"
                     aria-controls="collapse-stocks">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67" />
                    </svg>
                    <label>Stocks</label>
                </div>
                <div class="endpoints-list-stock collapse show" id="collapse-stocks">
                    <ul class="left-api-menu">
                        <li>
                            <a href="#">
                            <div class="TAG">
                                <label class="GET">GET</label>
                            </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <div class="TAG">
                                <label class="GET">GET</label>
                            </div>
                            <label class="title">Get stock list</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <div class="TAG">
                                <label class="GET">GET</label>
                            </div>
                            <label class="title">Get stock list</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <div class="TAG">
                                <label class="POST">POST</label>
                            </div>
                            <label class="title">Create a post</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <div class="TAG">
                                <label class="GET">GET</label>
                            </div>
                            <label class="title">Get stock list</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            <div class="TAG">
                                <label class="PUT">PUT</label>
                            </div>
                            <label class="title">Get stock list</label>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="Crypto endpoints-block">
                <div class="endpoints-show"
                     type="button"
                     data-bs-toggle="collapse"
                     data-bs-target="#collapse-Crypto"
                     aria-expanded="false"
                     aria-controls="collapse-Crypto">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67" />
                    </svg>
                    <label>Crypto</label>
                </div>
                <div class="endpoints-list-stock collapse" id="collapse-Crypto">
                    <ul class="left-api-menu">
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="GET">GET</label>
                                </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="GET">GET</label>
                                </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="GET">GET</label>
                                </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="POST">POST</label>
                                </div>
                                <label class="title">Create a post</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="GET">GET</label>
                                </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="PUT">PUT</label>
                                </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="Bonds endpoints-block">
                <div class="endpoints-show"
                     type="button"
                     data-bs-toggle="collapse"
                     data-bs-target="#collapse-Bonds"
                     aria-expanded="false"
                     aria-controls="collapse-Bonds">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67" />
                    </svg>
                    <label>Bonds</label>
                </div>
                <div class="endpoints-list-stock collapse" id="collapse-Bonds">
                    <ul class="left-api-menu">
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="GET">GET</label>
                                </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="GET">GET</label>
                                </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="GET">GET</label>
                                </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="POST">POST</label>
                                </div>
                                <label class="title">Create a post</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="GET">GET</label>
                                </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="PUT">PUT</label>
                                </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="Funds endpoints-block">
                <div class="endpoints-show"
                     type="button"
                     data-bs-toggle="collapse"
                     data-bs-target="#collapse-Funds"
                     aria-expanded="false"
                     aria-controls="collapse-Funds">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67" />
                    </svg>
                    <label>Funds</label>
                </div>
                <div class="endpoints-list-stock collapse" id="collapse-Funds">
                    <ul class="left-api-menu">
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="GET">GET</label>
                                </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="GET">GET</label>
                                </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="GET">GET</label>
                                </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="POST">POST</label>
                                </div>
                                <label class="title">Create a post</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="GET">GET</label>
                                </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="PUT">PUT</label>
                                </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-6 post">
            <h1>Get stock list</h1>
            <p class="post-meta"><label class="bg-warning rounded-2 fw-bold">Updated</label>
                Published on May 20, 2023
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
                </svg> 
                Updated on May 20, 2023
            </p>
            <div class="post-api-type">
                <label class="GET rounded-2">GET</label><label>/v2/Categories/{categoryId}</label>
            </div>
            <div class="mt-4">
                <div class="token-block">
                    <h3 class="mt-3 mb-2">
                        Security
                    </h3>
                    <div class="security">
                        <h4>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5" />
                                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                            </svg>
                            API Key
                        </h4>
                        <p>
                            <div class="fw-bold d-inline-block">
                                Header parameter name
                            </div>
                            <div class="text-danger d-inline-block token">
                                api_token
                            </div>
                            <div class="pt-2">
                                Enter REST API key. To generate a key, go to Settings
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <div class="token-block">
                    <h3 class="mt-3 mb-2">
                        Parameters
                    </h3>
                    <div class="path-param">
                        <div class="fw-bold d-inline-block">
                            How to send data:
                        </div>
                        <div class="text-danger d-inline-block json">
                            JSON
                        </div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Param name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Required</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry the Bird</td>
                                    <td>Larry the Bird</td>
                                    <td>twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <div class="token-block">
                    <h3 class="mt-3 mb-2">
                        Responses
                    </h3>
                    <div class="path-param">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                                    <img src="\img\other\dot-green.svg" height="10" width="10" title="dot" alt="dot" />
                                    200
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                                    <img src="\img\other\dot-red.svg" height="10" width="10" title="dot" alt="dot" />
                                    400
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">
                                    <img src="\img\other\dot-green.svg" height="10" width="10" title="dot" alt="dot" />
                                    201
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="error-tab" data-bs-toggle="tab" data-bs-target="#error" type="button" role="tab" aria-controls="contact" aria-selected="false">
                                    <img src="\img\other\dot-green.svg" height="10" width="10" title="dot" alt="dot" />
                                    202
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">1...</div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">.2..</div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">..3.</div>
                            <div class="tab-pane fade" id="error" role="tabpanel" aria-labelledby="error-tab">..4.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="select-sample">
                    <label class="samples align-middle w-100" href="#" id="navbarDropdownSamples" data-bs-toggle="dropdown" aria-expanded="false">
                        C#
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down float-end mt-1" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
                </svg>
                    </label>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownSamples">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
            </div>
            <div class="code-samples">
                <div class="Samples endpoints-block">
                    <div class="endpoints-show collapsed"
                         type="button"
                         data-bs-toggle="collapse"
                         data-bs-target="#collapse-Samples"
                         aria-expanded="false"
                         aria-controls="collapse-Samples">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67" />
                        </svg>
                        <label>Show C# sample</label>
                    </div>
                <div class="endpoints-list-stock collapse" id="collapse-Samples">
                    <ul class="left-api-menu">
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="GET">GET</label>
                                </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="GET">GET</label>
                                </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="GET">GET</label>
                                </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="POST">POST</label>
                                </div>
                                <label class="title">Create a post</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="GET">GET</label>
                                </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="TAG">
                                    <label class="PUT">PUT</label>
                                </div>
                                <label class="title">Get stock list</label>
                            </a>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
            <div class="try-it mt-4">
                <ul class="nav nav-tabs" id="tryTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="try-tab" data-bs-toggle="tab" data-bs-target="#try" type="button" role="tab" aria-controls="home" aria-selected="true">
                            Try it
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="response-tab" data-bs-toggle="tab" data-bs-target="#response" type="button" role="tab" aria-controls="profile" aria-selected="false">
                            Response
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="tryTab">
                    <div class="tab-pane fade show active" id="try" role="tabpanel" aria-labelledby="home-tab">1...</div>
                    <div class="tab-pane fade" id="response" role="tabpanel" aria-labelledby="profile-tab">.2..</div>
                </div>
            </div>
        </div>
    </div>
</div>