@page "/"

<PageTitle>Home</PageTitle>

<div class="container-fluid">
    <div class="row text-wrap">
        <div class="home-main-text">
            <div class="home-main-text-top">All world financial markets<div>in one place</div></div>
            <p>
                Convenient control panel for investors and traders. Flexible functionality for working with API. And that's all - <label>Skymey</label>
            </p>
            <div class="buttons">
                <a href="Market/Crypto" class="btn btn-markets">
                    Try markets
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                    </svg>
                </a>
                <a href="/api" class="btn btn-api">
                    Try API
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>