@page "/trade"

<PageTitle>Trade</PageTitle>

<div class="container-fluid trade">
    <div class="row text-wrap">
        <div class="card mx-2" style="width: 18rem;">
            <img src="/img/trade/trade.png" class="card-img-top pt-3" alt="swap crypto">
            <div class="card-body border-bottom p-0 py-3">
                <h5 class="card-title border-bottom pb-2">Swap</h5>
                <p class="card-text">Exchange popular cryptocurrencies in various networks</p>
                
            </div>
            <a href="/trade/swap" class="btn btn-primary">Go</a>
        </div>
        <div class="card mx-2" style="width: 18rem;">
            <img src="/img/trade/bot.png" class="card-img-top pt-3" alt="trading bot">
            <div class="card-body border-bottom p-0 py-3">
                <h5 class="card-title border-bottom pb-2">Grid bot</h5>
                <p class="card-text">Create and configure algorithmic trading</p>
                
            </div>
            <a href="/trade/grid" class="btn btn-primary">Go</a>
        </div>
    </div>
</div>