@page "/tools/grid"

<PageTitle>Grid bot</PageTitle>
<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="navbar">


                <div id="navbarSupportedContent" class="w-100">


                    <div class="dropdown py-3 px-3">
                        <a class="nav-link p-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img align="left" src="/img/crypto/BTC.png" height="30" width="30" title="Bitcoin" alt="Bitcoin" class="align-middle" onerror="this.src='/img/crypto/question.png';" />
                        </a>
                        <p class="pimg m-0 align-items-center">
                            BTC/USDT
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-caret-down float-end" viewBox="0 0 16 16">
                                <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659" />
                            </svg>
                        </p>
                        
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                           <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                    </svg>
                                </span>
                                <input type="text" class="form-control searchtable" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" id="searchtable">
                            </div>
                            <div class="search-table px-3">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">First</th>
                                            <th scope="col">Last</th>
                                            <th scope="col">Handle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>mdo</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>fat</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td colspan="2">Larry the Bird</td>
                                            <td>twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>

                </div>


            </div>
        </div>
        <div class="col-7">
            <p class="mt-0 mb-1">
            Price range:
            <div class="price-range d-flex mt-0 mb-0 align-items-center">
                    <input type="number" class="form-control w-50 from" placeholder="From">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mx-2 bi bi-arrows" viewBox="0 0 16 16">
                    <path d="M1.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L2.707 7.5h10.586l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L13.293 8.5H2.707l1.147 1.146a.5.5 0 0 1-.708.708z" />
                </svg>
                    <input type="number" class="form-control w-50 to" placeholder="To">
            </div>
            </p>
            <p class="mt-0 mb-1">
                <span class="w-50">Grids:</span>
                <div class="price-range d-flex mt-0 mb-0 align-items-center">
                        <input type="number" class="form-control w-100 grids" placeholder="Grids">
                </div>
            </p>
            <p class="mt-0 mb-1 d-flex">
                <span class="w-50">Interval:</span><label class="w-100 align-text-end fw-bold">500 USDT</label>
            </p>
            <p class="mt-2 mb-1 d-flex">
                <span class="w-50">Profit per grid:</span><label class="w-100 align-text-end fw-bold">1.5%-3.5%</label>
            </p>
            <p class="mt-3 mb-1">
                <span class="w-50">Amount to invest:</span>
                <div class="price-range d-flex mt-0 mb-0 align-items-center">
                    <input type="number" class="form-control w-100 amount" placeholder="Amount">
                </div>
            </p>
            <p class="mt-0 mb-1">
                <button class="btn w-100 start">Start</button>
            </p>
        </div>
    </div>
</div>
