html, body {
    font-family: 'ubuntu-light';
    -webkit-tap-highlight-color: transparent;
}
* {
    outline-style: none;
}
.container,.container-fluid, .row {
    padding-right:0px;
    padding-left:0px;
}
main {
    margin-top:20px;
}
.row {
    margin-left:0px;
    margin-right:0px;
}

.flags img {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 0px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 0px 1px rgba(34, 60, 80, 0.2);
}

.flags label {
    font-weight:bold;
    font-size:10pt;
    padding: 0px 2px 0px 2px;
    cursor:pointer;
}

.flags .dropdown-toggle::after {
vertical-align:middle;
}
.navbar-nav a {
    font-weight:bold;
}
.navbar-nav .nav-link:hover {
    color:#0086F8;
}
#navbarNavAltMarkup a:hover {
    font-weight: bold;
    color: #0086F8;
    transition: 0.5s;
}

#navbarNavAltMarkup .nav-link {
    margin-left:5px;
    margin-right:5px;
}
#collapse-stocks {
    transition: 0.2s;
}
#collapse-Crypto {
    transition: 0.2s;
}
#collapse-Bonds {
    transition: 0.2s;
}
#collapse-Funds {
    transition: 0.2s;
}
#collapse-Samples {
    transition: 0.2s;
}

.endpoints h4 {
    font-size:12pt;
    font-weight:bold;
    color:#636363;
}
.endpoints-block {
    margin-left: 10px;
    margin-top: 15px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
.endpoints-block svg {
    margin-right: 10px;
}
.endpoints-show, .endpoints-show label {
    cursor: pointer;
    font-weight:bold;
}
.post {
}
.post h1 {
    font-size:18pt;
    font-weight:bold;
    font-family: 'ubuntu-bold';
    padding:0px 0px 0px 0px;
    margin:0px 0px 15px 0px;
}
.post-meta {
    font-family: 'ubuntu-medium';
    font-weight:normal;
    font-size:10pt;
    color:#636363;
}
.post label {
    font-size: 10pt;
    padding: 0px 8px 0px 8px;
    color: #373737;
}
.post-api-type {
    border: 2px solid #41AC5D;
    padding: 15px;
    border-radius: 8px;
    font-family: 'ubuntu-medium';
    font-weight: bold;
}

.post-api-type label {
    cursor:text;
}

.post-api-type .GET {
    background-color: #41AC5D;
}

.post-api-type .security {
    font-family: 'ubuntu-medium';
}

.security, .path-param {
    border: 1px solid #DADADA;
    padding: 15px;
    border-radius: 8px;
}

.security p {
    margin:0px;
}

.token-block h3 {
    font-size: 16pt;
    font-family: 'ubuntu-medium';
    margin: 0px;
}

.security h4 {
    font-size: 14pt;
    font-family: 'ubuntu-medium';
    padding:5px 0px 0px 0px;
}

.security .token {
    background-color: #dadada50;
    border: 1px solid #DADADA;
    margin-left: 10px;
    padding:0px 5px 0px 5px;
}
.security svg {
    vertical-align:sub;
}

.path-param .json {
    background-color: #dadada50;
    border: 1px solid #DADADA;
    margin-left: 10px;
    padding: 0px 5px 0px 5px;
}

.left-api-menu {
    font-family: 'ubuntu-medium';
    list-style:none;
}

.left-api-menu .TAG {
    width:50px;
    display:inline-block;
}

.left-api-menu .GET {
    background-color: #41AC5D;
    padding:0px 5px 0px 5px;
    border-radius:2px;
    font-size:10pt;
    cursor:pointer;
    width:50px;
    text-align:center;
}

.left-api-menu .POST {
    background-color: #0087FC;
    padding:0px 5px 0px 5px;
    border-radius:2px;
    font-size:10pt;
    cursor:pointer;
    width:50px;
    text-align:center;
}

.left-api-menu .PUT {
    background-color: #FCC117;
    padding:0px 5px 0px 5px;
    border-radius:2px;
    font-size:10pt;
    cursor:pointer;
    width:50px;
    text-align:center;
}

.left-api-menu .title {
    cursor:pointer;
    padding-left:5px;
}

.left-api-menu li {
    margin: 5px 0px 10px 0px;
    border-right: .3em solid transparent;
    border-bottom: .3em solid transparent;
    border-top: .3em solid transparent;
}
.left-api-menu li a {
    color: black;
    text-decoration:none;
}

.left-api-menu li:hover {
        border-right: .3em solid #0086F8;
        border-bottom: .3em solid transparent;
        border-top: .3em solid transparent;
        transition:0.2s;
}
.samples {
    border:2px solid #DADADA;
    border-radius: 8px;
    padding:10px;
    cursor:pointer;
}

.samples .dropdown-toggle, .samples label {
    cursor:pointer;
}

.samples {
    font-family: 'ubuntu-medium';
}

.sample .dropdown-toggle::after {
    position:absolute;
    right: 10px;
    top:20px;
}

.samples ul {
    margin:15px;
}

.select-sample label {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.code-samples .endpoints-show {
    width:100%;
    padding:10px;
    background-color:#dadada82;
    border-radius:8px;
}

.code-samples .endpoints-block {
    margin:15px 0px 0px 0px;
}

.try-it button {
    font-family: 'ubuntu-medium';
}
.home-main-text-top {
    font-family: 'ubuntu-medium';
    margin-top: 5%;
    font-weight: bold;
    font-size: 46pt;
    cursor: text;
    text-align: center;
}

.home-main-text-top div {
    padding-left: 15px;
    background: #7858FE;
    background: linear-gradient(to right, #7858FE 0%, #F190DF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display:inline-block;
}

.home-main-text p {
    font-family: 'ubuntu-medium';
    text-align:center;
    font-size:20pt;
    color:#636363;
}

.home-main-text p label {
    color:#0087FC;
    cursor:text;
    font-weight:bold;
}

.home-main-text .buttons {
    text-align:center;
    margin-top:40px;
}

.btn-markets {
    background-color: #5C3DE6;
    color: white;
    font-family: 'ubuntu-medium';
    padding:10px 15px 10px 15px;
    border-radius:15px;
}

.btn-markets:hover {
    background-color: #5031db;
    color:white;
}

.btn-api {
    border-radius: 15px;
    font-family: 'ubuntu-medium';
    padding: 10px 15px 10px 15px;
    border: 1px solid #DADADA;
    margin-left:30px;
}

.btn-api:hover {
    border:1px solid #8d8d8d;
}

.ticker {
    color:#5f5f5f;
}
.ticker-name {
    font-weight:bold;
    color:#343434;
}
.ticker-ticker {
    font-size:10pt;
}
.hover-ticker:hover {
    background-color:#1349b90f;
    transition:0.2s;
    cursor:pointer;
}
.table > :not(:last-child) > :last-child > * {
    border-bottom-color:#DADADA;
}
.market-table tr th {
    color:#565656;
}

.market-table tr {
    cursor: pointer;
}

.trade .btn-primary {
    margin-bottom: 15px;
}
.trade .card {
    border-radius:15px;
}
#navbarNavAltMarkup1 a {
    margin: 0px 5px 0px 5px;
}

#navbarNavAltMarkup1 a:hover {
    font-weight: bold;
    color: #0086F8;
    transition: 0.5s;
}


.trade {
    font-family: 'ubuntu-regular';
}

.trade p {
    font-family: 'ubuntu-bold';
    color:#6f6f6f;
    font-size:10pt;
}
.trade .bi-graph-up-arrow {
color: #0086F8;
}

.navbar-typemenu ul {
    display: ruby;
}

.navbar-typemenu ul li a {
    border: 1px solid #6363633a;
    margin: 5px 5px 5px 5px;
    border-radius: 8px;
    font-size: 12pt;
    font-family: '42dotSans-Light';
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    padding: 8px 12px 8px 12px;
}

.navbar-typemenu ul li a:hover {
    background-color: #63636311;
}

.navbar-typemenu ul li .active {
    border: 2px solid #0087fc77;
}

.coin-data-title h1{
   font-size:18pt;
   font-weight:bold;
}
.coin-data-title {
    line-height:10px;
}
.coin-data-title .coin-data-title-ticker {
    font-weight:bold;
    color:#3737377d;
}
.favorite .star {
    color:#ffd764;
}

.supply-data {
    background-color:#dadada31;
    border-radius:5px;
    padding:10px;
    line-height:30px;
}

.market-cap-data .market-cap-data-title {
    font-weight: bold;
    font-size:14pt;
    color:#2b2b2b;
}

.market-cap-data .market-cap-data-rank {
    border: 1px solid #63636336;
    background-color: #dadada4e;
    padding:4px;
    border-radius:6px;
    font-size:10pt;
}

.market-cap {
    text-align: center;
}
.market-cap div {
    font-weight: bold;
    font-size:16pt;
}

.fdv-cap {
    border-left: 2px solid #5757571a;
    text-align: center;
}

.fdv-cap div {
    font-weight: bold;
    font-size: 16pt;
}

.progress-bar {
    background-color: #0087FC;
    width: 94.43%;
}

.start {
    background-color: #0086F8;
    color:white;
    margin-top:15px;
}

.start:hover {
    color:white;
    background-color: #0086f8c4;
}

.align-text-end {
    text-align:end;
}
.portfolio {
    padding:15px 0px 15px 15px;
    margin: 0px 0px 0px 5px;
    border-radius:8px;
    background-color:#63636310;
}
.portfolio .red {
    color:red;
    margin:0px 0px 0px 5px;
    background-color:#ff000053;
    border-radius:6px;
    padding:2px 4px 2px 4px;
    font-weight:bold;
    font-size:10pt;
}
.portfolio .green {
    color:green;
    margin:0px 0px 0px 5px;
    background-color:#31ff0053;
    border-radius:6px;
    padding:2px 4px 2px 4px;
    font-weight:bold;
    font-size:10pt;
}
.portfolio-main-top {
    background-image: linear-gradient(to right, #535353, #4c4c4c, #454545, #3e3e3e, #373737);
    border-radius: 16px;
    color: #DADADA;
    font-weight: bold;
}

.portfolio-main-top label {
    font-size:14pt;
}

.portfolio-main-top .green {
    color: #41AC5D;
    font-weight: bold;
}
.portfolio-data {
}

.portfolio-data .table {
    border: 1px solid #53535344;
    border-radius: 16px;
}
.portfolio-main-title {
    font-size:20pt;
}
.portfolio-main-title .bi-trash {
    color:#ff4848ff;
}
.portfolio-main-title button {
    background-color:#0086F8;
    color:#dadada;
    border-radius:10px;
    font-weight:bold;
    color:white;
}
.portfolio-main-title button:hover {
    background-color:#1e97feff;
    color:white;
}
.portfolio-main-title .portfolio-name {
    padding: 0px 0px 0px 10px;
}

@media (max-width:960px) {
    #navbarNavAltMarkup .nav-link {
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 15px;
        border-right: .3em solid transparent;
        border-bottom: .3em solid transparent;
        border-left: 0 solid transparent;
        border-top: .3em solid transparent;
    }

        #navbarNavAltMarkup .nav-link:hover {
            display: inline-block;
            margin-left: .255em;
            vertical-align: .255em;
            content: "";
            border-right: .3em solid;
            border-bottom: .3em solid transparent;
            border-left: 0;
            border-top: .3em solid transparent;
        }
}

@font-face {
    font-family: 'ubuntu-light';
    src: url('fonts/ubuntu/ubuntu-light.ttf') format('truetype');
}

@font-face {
    font-family: 'ubuntu-bold';
    src: url('fonts/ubuntu/ubuntu-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'ubuntu-regular';
    src: url('fonts/ubuntu/ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ubuntu-medium';
    src: url('fonts/ubuntu/ubuntu-medium.ttf') format('truetype');
}

@font-face {
    font-family: '42dotSans-Light';
    src: url('fonts/dotsans/42dotSans-Light.ttf') format('truetype');
}