html, body {
    font-family: 'ubuntu-light';
}

.container,.container-fluid, .row {
    padding-right:0px;
    padding-left:0px;
}
.row {
    margin-left:0px;
    margin-right:0px;
}

.flags img {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 0px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 0px 1px rgba(34, 60, 80, 0.2);
}

.flags label {
    font-weight:bold;
    font-size:10pt;
    padding: 0px 2px 0px 2px;
    cursor:pointer;
}
.navbar-nav a {
    font-weight:bold;
}
.navbar-nav .nav-link:hover {
    color:#0086F8;
}
#navbarNavAltMarkup a:hover {
    font-weight:bold;
}

#navbarNavAltMarkup .nav-link {
    margin-left:5px;
    margin-right:5px;
}

@font-face {
    font-family: 'ubuntu-light';
    src: url('fonts/ubuntu/ubuntu-light.ttf') format('truetype');
}