@inherits LayoutComponentBase

    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom container">
        <div class="row">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="/img/logo/skymeyweblogo.png" height="35" width="120" />
        </a>
    </div>

    <NavMenu></NavMenu>

    <div class="col-md-3 text-end">
        <Flags></Flags>
    </div>
</header>

    <main class="container">
            <div class="row">
                @Body
            </div>
    </main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
