@inherits LayoutComponentBase

    <header class="border-bottom container pb-0 pt-2">
    <div class="row border-bottom">

        <div class="col-6 col-sm-2 d-inline-block pt-1 ps-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="/img/logo/skymeyweblogo.png" height="35" width="120" />
            </a>
        </div>

        <div class="col-5 col-sm-7 d-none d-sm-inline-block pt-2">
            <NavMenu></NavMenu>
        </div>
         
        <div class="col-6 col-sm-3 pt-2 pe-0 ps-0">
            <Flags></Flags>
        </div>

    </div>
    <div class="row">
        <div class="col-12 pe-0 ps-0">
            <UserMenu></UserMenu>
        </div>
    </div>
    <div class="row d-sm-none">
        <div class="col-12">
            <NavMenu></NavMenu>
        </div>
    </div>
</header>

    <main class="container">
            <div class="row">
                @Body
            </div>
    </main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
