<nav class="navbar navbar-expand-sm navbar-light pt-0 pb-0">
    <div class="container-fluid">
        <div class="w-100 d-block d-sm-none">
            <button class="float-end border-0 mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        <div class="collapse navbar-collapse  align-items-center justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link pt-0 pb-0" href="#">MAP</a>
                <a class="nav-link pt-0 pb-0" href="/api">API</a>
            </div>
        </div>
    </div>
</nav>