<nav class="navbar navbar-expand-sm navbar-light mt-1 mb-1 float-end">
    <div class="container-fluid">
        <div class="w-100 d-block d-sm-none">
            <button class="float-end border-0 mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup1" aria-controls="navbarNavAltMarkup1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup1">
            <div class="navbar-nav align-items-center">
                <a class="nav-link pt-0 pb-0" href="/tools/swap">Swap</a>
                <a class="nav-link pt-0 pb-0" href="/tools">Tools</a>
                <a class="nav-link pt-0 pb-0" href="/user/profile">Profile</a>
                <a class="nav-link portfolio border me-0 align-items-center" href="/user/portfolio">$9,800<label class="green">-1.74%</label></a>
            </div>
        </div>
    </div>
</nav>